## Problem 3 - Data analysis (4 points)

In this problem we will explore our temperature data by comparing spring temperatures between Helsinki Kumpula and Rovaniemi. To do this we'll use some conditions to extract subsets of our data and then analyse these subsets using basic pandas functions. Please perform the tasks below by writing your code into the codeblocks in each section.

### Tips for completing this problem

- Use **exactly** the same variable names as in the instructions.
- **Please do not**:

    - **Change the file names**. Do all of your editing in the provided `Exercise-5-problem-3.ipynb` file (this file).
    - **Change the existing cell types**. You can add cells, but changing the cell types for existing cells (from code to markdown, for example) will also cause the automated grader to fail. 

### Scores for this problem

**Your score on this problem will be based on following criteria:**

- Calculating the median temperatures for Mactan and Hinatuan for March-May of 2018
- Selecting temperatures for April and December 2018 in separate dataframes for each location
- Printing out some summary values for each month (April, December) and location (Mactan, Hinatuan)
- Including comments that explain what most lines in the code do
- Answering a couple questions at the end of the problem
- Uploading your notebook and data files to your GitHub repository for this week's exercise

### Part 1 (0 points)

First, you need to load the data from Problem 2.

- Read in the csv files generated in Problem 2 to the variables `mactan` and `hinatuan`

In [3]:
mactan = None
hinatuan = None

#import the Mactan and Hinatuan temperature data using the pandas module
import pandas as pd
mactan = pd.read_csv("Mactan_temps_2019-01_2020-12.csv")
hinatuan = pd.read_csv("Rovaniemi_temps_2019-01_2020-12.csv")

In [4]:
print(mactan.head())
print('')
print(hinatuan.head())

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
0           0  RPM00098646  2017-01-01  79.70  86.00    NaN     26.5
1           1  RPM00098646  2017-01-02  79.88  85.64    NaN     26.6
2           2  RPM00098646  2017-01-03  82.40  88.52  76.64     28.0
3           3  RPM00098646  2017-01-04  82.04  89.24    NaN     27.8
4           4  RPM00098646  2017-01-05  81.32  88.52  77.00     27.4

   Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
0        1461  RP000098755  2017-01-01  80.06  84.20  75.20     26.7
1        1462  RP000098755  2017-01-02  80.78  85.64  75.92     27.1
2        1463  RP000098755  2017-01-03  79.88  85.28    NaN     26.6
3        1464  RP000098755  2017-01-04  80.60  86.36  75.38     27.0
4        1465  RP000098755  2017-01-05  77.72  89.06    NaN     25.4

### Part 2 (1 points)

Next you can find some median temperature values for the period the data covers.

- What was the median Celsius temperature during the observed period in:
    - Mactan, Cebu? (store the answer in a variable `mactan_median`)
    - Hinatuan, Surigao del Sur? (store the answer in a variable `hinatuan_median`)

In [27]:
mactan_median = None
hinatuan_median = None

#calculate the median temperatures for Mactan and Hinatuan for the whole data collection period.
mactan_median = mactan["CELSIUS"].median()
hinatuan_median = hinatuan["CELSIUS"].median()

In [28]:
# Prints the median temperatures
print(f"Mactan median: {mactan_median}")
print(f"Hinatuan median: {hinatuan_median}")

Mactan median: 28.1
Hinatuan median: 27.3

### Part 3 (2 points)

The median temperatures above consider data from the entire "summer" (Mar-May), hence the differences might not be so clear. Let's now find out the mean temperatures from March and May 2018 in Mactan and Hinatuan.

- From the `mactan` and `hinatuan` DataFrames, select the rows where values of the `DATE` column are from March 2018
    - Assign these selected rows into the variables `mactan_mar` and `hinatuan_mar` (you can check the [hints](https://geo-python.github.io/site/lessons/L5/exercise-5.html) for help!)
- Repeat the procedure for the month of May and assign those values into variables to `mactan_may` and `hinatuan_may`

In [82]:
# Select the subset of the Mactan and Hinatuan data for the 3rd and 5th month
mactan_mar = None
hinatuan_mar = None

mactan_may = None
hinatuan_may = None

#select the March 2018 data for both locations
mactan_mar = mactan.loc[(mactan["DATE"] > "2018-02-28") & (mactan["DATE"] < "2018-04-01")]
hinatuan_mar = hinatuan.loc[(hinatuan["DATE"] > "2018-02-28") & (hinatuan["DATE"] < "2018-04-01")]

#select the May 2018 data for both locations
mactan_may = mactan.loc[(mactan["DATE"] > "2018-04-30") & (mactan["DATE"] < "2018-06-01")]
hinatuan_may = hinatuan.loc[(hinatuan["DATE"] > "2018-04-30") & (hinatuan["DATE"] < "2018-06-01")]

Check that the subsets look ok:

In [83]:
print(f"First values in March, Mactan:\n{mactan_mar.head()}\n")
print(f"Last values in March, Mactan:\n{mactan_mar.tail()}")

First values in March, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
424         424  RPM00098646  2018-03-01  82.58  88.52    NaN     28.1
425         425  RPM00098646  2018-03-02  82.40  88.88  76.28     28.0
426         426  RPM00098646  2018-03-03  83.12  89.96  76.64     28.4
427         427  RPM00098646  2018-03-04  81.68  88.88    NaN     27.6
428         428  RPM00098646  2018-03-05  82.76  89.60  75.92     28.2

Last values in March, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
450         450  RPM00098646  2018-03-27  80.96  88.88    NaN     27.2
451         451  RPM00098646  2018-03-28  81.68  88.70  73.76     27.6
452         452  RPM00098646  2018-03-29  81.14  88.88    NaN     27.3
453         453  RPM00098646  2018-03-30  81.32  87.80  74.48     27.4
454         454  RPM00098646  2018-03-31  82.40  89.60  76.64     28.0

In [84]:
print(f"First values in May, Mactan:\n{mactan_may.head()}\n")
print(f"Last values in May, Mactan:\n{mactan_may.tail()}")

First values in May, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
485         485  RPM00098646  2018-05-01  86.18  91.76  79.52     30.1
486         486  RPM00098646  2018-05-02  85.10  93.02    NaN     29.5
487         487  RPM00098646  2018-05-03  78.98  84.56    NaN     26.1
488         488  RPM00098646  2018-05-04  82.40  88.88    NaN     28.0
489         489  RPM00098646  2018-05-05  83.66  90.50  75.56     28.7

Last values in May, Mactan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
511         511  RPM00098646  2018-05-27  87.08  92.30  80.60     30.6
512         512  RPM00098646  2018-05-28  86.72  93.02  81.32     30.4
513         513  RPM00098646  2018-05-29  86.18  90.32    NaN     30.1
514         514  RPM00098646  2018-05-30  83.48  90.68    NaN     28.6
515         515  RPM00098646  2018-05-31  84.20  91.40    NaN     29.0

In [85]:
print(f"First values in March, Hinatuan:\n{hinatuan_mar.head()}\n")
print(f"Last values in March, Hinatuan:\n{hinatuan_mar.tail()}")

First values in March, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
424        1885  RP000098755  2018-03-01  80.60  85.28  75.38     27.0
425        1886  RP000098755  2018-03-02  80.96  86.18    NaN     27.2
426        1887  RP000098755  2018-03-03  80.24  88.34    NaN     26.8
427        1888  RP000098755  2018-03-04  78.98  86.18  73.22     26.1
428        1889  RP000098755  2018-03-05  81.50  87.44  73.40     27.5

Last values in March, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP   MAX    MIN  CELSIUS
450        1911  RP000098755  2018-03-27  78.80  87.8    NaN     26.0
451        1912  RP000098755  2018-03-28  82.04  92.3  68.72     27.8
452        1913  RP000098755  2018-03-29  81.32  89.6  74.12     27.4
453        1914  RP000098755  2018-03-30  81.32  90.5  72.50     27.4
454        1915  RP000098755  2018-03-31  77.90  85.1    NaN     25.5

In [86]:
print(f"First values in May, Hinatuan:\n{hinatuan_may.head()}\n")
print(f"Last values in May, Hinatuan:\n{hinatuan_may.tail()}")

First values in May, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
485        1946  RP000098755  2018-05-01  82.22  89.24  76.10     27.9
486        1947  RP000098755  2018-05-02  79.88  87.80    NaN     26.6
487        1948  RP000098755  2018-05-03  81.50  90.86  74.84     27.5
488        1949  RP000098755  2018-05-04  81.86  89.96  75.56     27.7
489        1950  RP000098755  2018-05-05  82.22  89.60    NaN     27.9

Last values in May, Hinatuan:
     Unnamed: 0      STATION        DATE   TEMP    MAX    MIN  CELSIUS
511        1972  RP000098755  2018-05-27  82.94  93.02  77.00     28.3
512        1973  RP000098755  2018-05-28  83.12  91.04    NaN     28.4
513        1974  RP000098755  2018-05-29  81.68  92.30  74.66     27.6
514        1975  RP000098755  2018-05-30  76.64  81.14    NaN     24.8
515        1976  RP000098755  2018-05-31  81.68  90.86  72.86     27.6

### Part 4 (1 point)

Now you can make your temperature data from both locations and months easier to compare by printing out a few useful values.

- Use the `print()` function to show the mean, min and max Celsius temperatures for both places in March and May using the new subset dataframes (`mactan_mar`, `hinatuan_mar`, `mactan_may`, and `hinatuan_may`).

In [109]:
"""
Code for printing the mean, minimum, and maximum temperature values in Mactan and Hinatuan
for the months of March and May 2018.
"""


print(f'The mean temperature in Mactan in March 2018 is {mactan_mar["CELSIUS"].mean().round(1).astype(float)} degrees Celsius.')
print(f'The minimum temperature in Mactan in March 2018 is {mactan_mar["CELSIUS"].min().round(1).astype(float)} degrees Celsius.')
print(f'The maximum temperature in Mactan in March 2018 is {mactan_mar["CELSIUS"].max().round(1).astype(float)} degrees Celsius.')


print('')
print(f'The mean temperature in Mactan in May 2018 is {mactan_may["CELSIUS"].mean().round(1).astype(float)} degrees Celsius.')
print(f'The minimum temperature in Mactan in May 2018 is {mactan_may["CELSIUS"].min().round(1).astype(float)} degrees Celsius.')
print(f'The maximum temperature in Mactan in May 2018 is {mactan_may["CELSIUS"].max().round(1).astype(float)} degrees Celsius.')


print('')
print(f'The mean temperature in Hinatuan in March 2018 is {hinatuan_mar["CELSIUS"].mean().round(1).astype(float)} degrees Celsius.')
print(f'The minimum temperature in Hinatuan in March 2018 is {hinatuan_mar["CELSIUS"].min().round(1).astype(float)} degrees Celsius.')
print(f'The maximum temperature in Hinatuan in March 2018 is {hinatuan_mar["CELSIUS"].max().round(1).astype(float)} degrees Celsius.')


print('')
print(f'The mean temperature in Hinatuan in May 2018 is {hinatuan_may["CELSIUS"].mean().round(1).astype(float)} degrees Celsius.')
print(f'The minimum temperature in Hinatuan in May 2018 is {hinatuan_may["CELSIUS"].min().round(1).astype(float)} degrees Celsius.')
print(f'The maximum temperature in Hinatuan in May 2018 is {hinatuan_may["CELSIUS"].max().round(1).astype(float)} degrees Celsius.')

The mean temperature in Mactan in March 2018 is 27.7 degrees Celsius.
The minimum temperature in Mactan in March 2018 is 25.9 degrees Celsius.
The maximum temperature in Mactan in March 2018 is 28.9 degrees Celsius.

The mean temperature in Mactan in May 2018 is 29.4 degrees Celsius.
The minimum temperature in Mactan in May 2018 is 26.1 degrees Celsius.
The maximum temperature in Mactan in May 2018 is 30.7 degrees Celsius.

The mean temperature in Hinatuan in March 2018 is 26.7 degrees Celsius.
The minimum temperature in Hinatuan in March 2018 is 23.9 degrees Celsius.
The maximum temperature in Hinatuan in March 2018 is 28.0 degrees Celsius.

The mean temperature in Hinatuan in May 2018 is 28.1 degrees Celsius.
The minimum temperature in Hinatuan in May 2018 is 24.8 degrees Celsius.
The maximum temperature in Hinatuan in May 2018 is 29.3 degrees Celsius.

### Problem 3 summary

In the spirit of [knowledge discovery](http://researcher.ibm.com/researcher/view_group.php?id=144), let's briefly interpret the results of the data analysis in Problem 3. Please answer the following questions based on the data analysis results from this problem:

- Does there seem to be a large difference in temperatures between the months?
- Is Hinatuan a much cooler place than Mactan?

Also, be sure to:

- Check that your code includes informative comments explaining what your code does
- Commit and push your changes to your GitHub repository for Exercise 5

- While May appears to be a hotter month, there is no large difference between the temperatures in the two months for both Mactan and Hinatuan.
- Although Hinatuan noted lower temperatures than Mactan, it is not much cooler.

### On to Problem 4 (*optional*)

Now you can continue to the *optional* [Problem 4: Data analysis](Exercise-5-problem-4.ipynb)